html {
    font-family: "Open Sans", sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.card {
    position: relative;
    float: left;
    padding: 0.5cm;
    width: 4.75cm;
    height: 4.75cm;
    border: 1px solid black;
    font-size: 12pt;
    font-weight: bold;
    page-break-inside: avoid !important; /* That really is important. */
}
.card::after {
    position: absolute;
    content: 'Austrians Against Humanity';
    font-size: 6pt;
    bottom: 0.5cm;
    left: 0.5cm;
}
.question {
    color: white;
    background: black;
}
